
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=utf-8" />
    <title></title>
    <style type="text/css">
        table.diff {font-family:Courier; border:medium;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
    </style>
</head>

<body>
    
    <table class="diff" id="difflib_chg_to2__top"
           cellspacing="0" cellpadding="0" rules="groups" >
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        <colgroup></colgroup> <colgroup></colgroup> <colgroup></colgroup>
        
        <tbody>
            <tr><td class="diff_next" id="difflib_chg_to2__0"></td><td class="diff_header" id="from2_10">10</td><td nowrap="nowrap">&nbsp;&nbsp;`date`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'年月日20190101',</td><td class="diff_next"></td><td class="diff_header" id="to2_10">10</td><td nowrap="nowrap">&nbsp;&nbsp;`date`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'年月日20190101',</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_11">11</td><td nowrap="nowrap">&nbsp;&nbsp;`like_num`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'喜爱数',</td><td class="diff_next"></td><td class="diff_header" id="to2_11">11</td><td nowrap="nowrap">&nbsp;&nbsp;`like_num`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'喜爱数',</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_12">12</td><td nowrap="nowrap">&nbsp;&nbsp;`comment_num`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'评论数',</td><td class="diff_next"></td><td class="diff_header" id="to2_12">12</td><td nowrap="nowrap">&nbsp;&nbsp;`comment_num`&nbsp;int(11)&nbsp;unsigned&nbsp;NOT&nbsp;NULL&nbsp;DEFAULT&nbsp;'0'&nbsp;COMMENT&nbsp;'评论数',</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_13">13</td><td nowrap="nowrap">&nbsp;&nbsp;PRIMARY&nbsp;KEY&nbsp;(`id`),</td><td class="diff_next"></td><td class="diff_header" id="to2_13">13</td><td nowrap="nowrap">&nbsp;&nbsp;PRIMARY&nbsp;KEY&nbsp;(`id`),</td></tr>
            <tr><td class="diff_next"></td><td class="diff_header" id="from2_14">14</td><td nowrap="nowrap">&nbsp;&nbsp;KEY&nbsp;`is_deleted`&nbsp;(`is_deleted`)</td><td class="diff_next"></td><td class="diff_header" id="to2_14">14</td><td nowrap="nowrap">&nbsp;&nbsp;KEY&nbsp;`is_deleted`&nbsp;(`is_deleted`)</td></tr>
            <tr><td class="diff_next"><a href="#difflib_chg_to2__top">t</a></td><td class="diff_header" id="from2_15">15</td><td nowrap="nowrap">)&nbsp;ENGINE=InnoDB&nbsp;AUTO_INCREMENT=<span class="diff_chg">26</span>&nbsp;DEFAULT&nbsp;CHARSET=utf8&nbsp;COMMENT='每日门面'</td><td class="diff_next"><a href="#difflib_chg_to2__top">t</a></td><td class="diff_header" id="to2_15">15</td><td nowrap="nowrap">)&nbsp;ENGINE=InnoDB&nbsp;AUTO_INCREMENT=<span class="diff_chg">17</span>&nbsp;DEFAULT&nbsp;CHARSET=utf8&nbsp;COMMENT='每日门面'</td></tr>
        </tbody>
    </table>
    <table class="diff" summary="Legends">
        <tr> <th colspan="2"> Legends </th> </tr>
        <tr> <td> <table border="" summary="Colors">
                      <tr><th> Colors </th> </tr>
                      <tr><td class="diff_add">&nbsp;Added&nbsp;</td></tr>
                      <tr><td class="diff_chg">Changed</td> </tr>
                      <tr><td class="diff_sub">Deleted</td> </tr>
                  </table></td>
             <td> <table border="" summary="Links">
                      <tr><th colspan="2"> Links </th> </tr>
                      <tr><td>(f)irst change</td> </tr>
                      <tr><td>(n)ext change</td> </tr>
                      <tr><td>(t)op</td> </tr>
                  </table></td> </tr>
    </table>
</body>

</html>